In [1]:
print('hello')

hello

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

#EXTRACTION OF DIGITS

In [13]:
def extract_number(number):
    remaining_nbr=number
    print(number)
    count=0
    while remaining_nbr>0:
        print('remaining:',remaining_nbr)
        digit=remaining_nbr%10
        # remaining_nbr=remaining_nbr//10
        # remaining_nbr,digit=divmod(remaining_nbr,digit)
        remaining_nbr=remaining_nbr//10
        count+=1
        print(digit,"end=")
    # print()
    return(count)#  his used when to get digit of number
extract_number(20)

20
remaining: 20
0 end=
remaining: 2
2 end=

2

 #pandas data table representation

In [21]:
import pandas as pd
df=pd.DataFrame(
  {
  "Name":[
  "Braund,Mr.OwenHarris",
  "Allen,Mr.WilliamHenry",
  "Bonnell,Miss.Elizabeth",
  ],
  
})
df

                     Name
0    Braund,Mr.OwenHarris
1   Allen,Mr.WilliamHenry
2  Bonnell,Miss.Elizabeth