In [ ]:
print('hello')

In [ ]:
import this

#EXTRACTION OF DIGITS

In [ ]:
def extract_number(number):
    remaining_nbr=number
    print(number)
    count=0
    while remaining_nbr>0:
        print('remaining:',remaining_nbr)
        digit=remaining_nbr%10
        # remaining_nbr=remaining_nbr//10
        # remaining_nbr,digit=divmod(remaining_nbr,digit)
        remaining_nbr=remaining_nbr//10
        count+=1
        print(digit,"end=")
    # print()
    return(count)#  his used when to get digit of number
extract_number(20)

 #pandas data table representation

In [ ]:
import pandas as pd
df=pd.DataFrame(
  {
  "Age": [22, 35, 58,20,10,23,34,45],
  "Name":[
  "Braund,Mr.OwenHarris",
  "Allen,Mr.WilliamHenry",
  "Bonnell,Miss.Elizabeth",
  "Braund,Mr.OwenHarris",
  "Allen,Mr.WilliamHenry",
  "Bonnell,Miss.Elizabeth",
  "patrick.Muvunyi",
  "data,dataframe"
  ],
 "Sex": ["male", "male", "female","male", "male", "female","male", "male"],
})
df

In [ ]:
df.loc[1:1]

In [ ]:
# df.Age[2]
# df.Age.mean()
df.describe()

In [ ]:
import numpy as np
data=pd.Series([1,2,3,4,np.nan,5])
# //convert from the DataFrame to numpy
data.to_numpy

In [ ]:
# this transpose data
data.T

#sort by axis

In [ ]:
we use the axis=1 or 0
df.sort_index(axis=0,ascending=False)

#sorting by values

In [ ]:
df.sort_values(by="Age")

selection

In [ ]:
df.Name  # and this works df['Name']
df.loc[:,["Age","Name"]] #

In [ ]:
# Selection by position

df.loc[5,"Name"] # index and column
# df.loc[Age[0],"Name"]
df2=df.copy()
#  Settingvaluesbylabel:
# df.at[Age[0],["Name"]]
df.isin[Name=='Braund,Mr.OwenHarris']

#date time

In [ ]:
# daterange=pd.date_range('20240506',periods=6)
#  df2 =pd.DataFrame(
#      {
#         "A":1.0,
#         "B":pd.Timestamp("20130102"),
#         "C":pd.Series(1,index=list(range(4)),dtype="float32"),
#         "D":np.array([3]*4,dtype="int32"),
#         "E":pd.Categorical(["test","train","test","train"]),
#         "F":"foo",
#      }
#  )

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series([np.nan, 1, 2, np.nan, 3])
s = s.fillna(method='ffill')

print(s)

# --------------------------------

import numpy as np

a = np.array(([1, 2, 3, 4, 5], [6, 7, 8, 9, 10]))
b = np.max(a, axis=1).sum()

# --------------------------

a = np.ones((2, 4))
b = a.reshape((4, 2))
print(b)

# output



# ---------------------------------

filedata = np.genfromtxt('data.txt', delimiter=',')
output = filedata[filedata < 50]

print(output)

#FORM PANDAS BOOK

In [ ]:
import pandas as pd 
import numpy as np 
num_securities = 1000 
num_periods = 1000 
period_frequency = 'W' 
start_date = '2000-12-31' 
 
np.random.seed([3,1415]) 
 
means = [0, 0] 
covariance = [[  1., 5e-3], 
              [5e-3,   1.]] 
 
# generates to sets of data m[0] and m[1] with ~0.005 correlation 
m = np.random.multivariate_normal(means, covariance, 
                                  (num_periods, num_securities)).T
m

#w3chools

In [ ]:
import pandas

myDataset={
    'cars':['bmw',"audi",'benz'],
    'passing':[1,3,7]
}
print(pandas._version_)
myData=pandas.DataFrame(myDataset)
myData

#Series

In [ ]:
import pandas as pd

a=['muvunyi','patrick','software']
my_series=pd.Series(a,index=[1,2,3])
my_series

In [ ]:
'''data={
    'name':["patrick","muvunyi","patrick","software"],
    'age':[21,22,23,24]
}

details=pd.DataFrame(data)'''
print(pd.options.display.max_rows)

#cleaning data by using dropna

In [ ]:
DATA=pd.read_csv('data.csv')
NEW_DATA=DATA.dropna()

#Return a new Data Frame with no empty cells:

print(NEW_DATA.to_string())

#Remove all rows with NULL values

NEW_DATA=DATA.dropna(inplace=True)
NEW_DATA

#Replace Empyt cells by using fillna

In [ ]:
NEW_DATA2=DATA.fillna(130,inplace=True)
NEW_DATA2

#Replace by specifying column names

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)

#Replace by using mean,median and mode

In [ ]:
# BY finding mean of one column

x=df["Calories"].mean()

df['Calories'].fillna(x,inplace=true)

#cleaning from wrong format

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

#Sometime we remove row wich can be modified to good format of data

In [ ]:
# delete rows

df.dropna(subset=['date'],inplace=True)

#Replacing with correct values

In [2]:
import pandas as pd

df = pd.read_csv('data.csv')

# Before there is 450 minutes which is logicaly wrong

df.loc[7, 'Duration'] = 45
print(df.to_string())

          Duration          Date  Pulse  Maxpulse  Calories  Duration
0     0         60  '2020/12/01'    110       130     409.1       NaN
1     1         60  '2020/12/02'    117       145     479.0       NaN
2     2         60  '2020/12/03'    103       135     340.0       NaN
3     3         45  '2020/12/04'    109       175     282.4       NaN
4     4         45  '2020/12/05'    117       148     406.0       NaN
5     5         60  '2020/12/06'    102       127     300.0       NaN
6     6         60  '2020/12/07'    110       136     374.0       NaN
7     7        450  '2020/12/08'    104       134     253.3      45.0
8     8         30  '2020/12/09'    109       133     195.1       NaN
9     9         60  '2020/12/10'     98       124     269.0       NaN
10    10        60  '2020/12/11'    103       147     329.3       NaN
11    11        60  '2020/12/12'    100       120     250.7       NaN
12    12        60  '2020/12/12'    100       120     250.7       NaN
13    13        60  '2020/12/13'    106       128     345.3       NaN
14    14        60  '2020/12/14'    104       132     379.3       NaN
15    15        60  '2020/12/15'     98       123     275.0       NaN
16    16        60  '2020/12/16'     98       120     215.2       NaN
17    17        60  '2020/12/17'    100       120     300.0       NaN
18    18        45  '2020/12/18'     90       112       NaN       NaN
19    19        60  '2020/12/19'    103       123     323.0       NaN
20    20        45  '2020/12/20'     97       125     243.0       NaN
21    21        60  '2020/12/21'    108       131     364.2       NaN
22    22        45           NaN    100       119     282.0       NaN
23    23        60  '2020/12/23'    130       101     300.0       NaN
24    24        45  '2020/12/24'    105       132     246.0       NaN
25    25        60  '2020/12/25'    102       126     334.5       NaN
26    26        60    2020/12/26    100       120     250.0       NaN
27    27        60  '2020/12/27'     92       118     241.0       NaN
28    28        60  '2020/12/28'    103       132       NaN       NaN
29    29        60  '2020/12/29'    100       132     280.0       NaN
30    30        60  '2020/12/30'    102       129     380.3       NaN
31    31        60  '2020/12/31'     92       115     243.0       NaN

#replace the wrong data one by one, but not for big data sets.

In [3]:
for x in df.index:
    if df.loc[x,'Duration']>120:
        df.loc[x,'Duration']=120

In [4]:
# Show duplicated
 
print(df.duplicated())

# delete duplicated

df.drop_duplicates(inplace=True)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

#plotting