In [78]:
print('hello')

hello

In [79]:
import this

#EXTRACTION OF DIGITS

In [80]:
def extract_number(number):
    remaining_nbr=number
    print(number)
    count=0
    while remaining_nbr>0:
        print('remaining:',remaining_nbr)
        digit=remaining_nbr%10
        # remaining_nbr=remaining_nbr//10
        # remaining_nbr,digit=divmod(remaining_nbr,digit)
        remaining_nbr=remaining_nbr//10
        count+=1
        print(digit,"end=")
    # print()
    return(count)#  his used when to get digit of number
extract_number(20)

20
remaining: 20
0 end=
remaining: 2
2 end=

2

 #pandas data table representation

In [81]:
import pandas as pd
df=pd.DataFrame(
  {
  "Age": [22, 35, 58,20,10,23,34,45],
  "Name":[
  "Braund,Mr.OwenHarris",
  "Allen,Mr.WilliamHenry",
  "Bonnell,Miss.Elizabeth",
  "Braund,Mr.OwenHarris",
  "Allen,Mr.WilliamHenry",
  "Bonnell,Miss.Elizabeth",
  "patrick.Muvunyi",
  "data,dataframe"
  ],
 "Sex": ["male", "male", "female","male", "male", "female","male", "male"],
})
df

   Age                    Name     Sex
0   22    Braund,Mr.OwenHarris    male
1   35   Allen,Mr.WilliamHenry    male
2   58  Bonnell,Miss.Elizabeth  female
3   20    Braund,Mr.OwenHarris    male
4   10   Allen,Mr.WilliamHenry    male
5   23  Bonnell,Miss.Elizabeth  female
6   34         patrick.Muvunyi    male
7   45          data,dataframe    male

In [82]:
df.loc[1:1]

   Age                   Name   Sex
1   35  Allen,Mr.WilliamHenry  male

In [83]:
# df.Age[2]
# df.Age.mean()
df.describe()

             Age
count   8.000000
mean   30.875000
std    15.384942
min    10.000000
25%    21.500000
50%    28.500000
75%    37.500000
max    58.000000

In [84]:
import numpy as np
data=pd.Series([1,2,3,4,np.nan,5])
# //convert from the DataFrame to numpy
data.to_numpy

<bound method IndexOpsMixin.to_numpy of 0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
dtype: float64>

In [85]:
# this transpose data
data.T

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
dtype: float64

#sort by axis

In [86]:
we use the axis=1 or 0
df.sort_index(axis=0,ascending=False)

SyntaxError: invalid syntax (4088299101.py, line 1)

#sorting by values

In [ ]:
df.sort_values(by="Age")

selection

In [ ]:
df.Name  # and this works df['Name']
df.loc[:,["Age","Name"]] #

In [ ]:
# Selection by position

df.loc[5,"Name"] # index and column
# df.loc[Age[0],"Name"]
df2=df.copy()
#  Settingvaluesbylabel:
# df.at[Age[0],["Name"]]
df.isin[Name=='Braund,Mr.OwenHarris']

#date time

In [ ]:
# daterange=pd.date_range('20240506',periods=6)
#  df2 =pd.DataFrame(
#      {
#         "A":1.0,
#         "B":pd.Timestamp("20130102"),
#         "C":pd.Series(1,index=list(range(4)),dtype="float32"),
#         "D":np.array([3]*4,dtype="int32"),
#         "E":pd.Categorical(["test","train","test","train"]),
#         "F":"foo",
#      }
#  )

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series([np.nan, 1, 2, np.nan, 3])
s = s.fillna(method='ffill')

print(s)

# --------------------------------

import numpy as np

a = np.array(([1, 2, 3, 4, 5], [6, 7, 8, 9, 10]))
b = np.max(a, axis=1).sum()

# --------------------------

a = np.ones((2, 4))
b = a.reshape((4, 2))
print(b)

# output



# ---------------------------------

filedata = np.genfromtxt('data.txt', delimiter=',')
output = filedata[filedata < 50]

print(output)

#FORM PANDAS BOOK

In [ ]:
import pandas as pd 
import numpy as np 
num_securities = 1000 
num_periods = 1000 
period_frequency = 'W' 
start_date = '2000-12-31' 
 
np.random.seed([3,1415]) 
 
means = [0, 0] 
covariance = [[  1., 5e-3], 
              [5e-3,   1.]] 
 
# generates to sets of data m[0] and m[1] with ~0.005 correlation 
m = np.random.multivariate_normal(means, covariance, 
                                  (num_periods, num_securities)).T
m

#w3chools

In [ ]:
import pandas

myDataset={
    'cars':['bmw',"audi",'benz'],
    'passing':[1,3,7]
}
print(pandas._version_)
myData=pandas.DataFrame(myDataset)
myData

#Series

In [ ]:
import pandas as pd

a=['muvunyi','patrick','software']
my_series=pd.Series(a,index=[1,2,3])
my_series

In [ ]:
'''data={
    'name':["patrick","muvunyi","patrick","software"],
    'age':[21,22,23,24]
}

details=pd.DataFrame(data)'''
print(pd.options.display.max_rows)

#cleaning data by using dropna

In [ ]:
DATA=pd.read_csv('data.csv')
NEW_DATA=DATA.dropna()

#Return a new Data Frame with no empty cells:

print(NEW_DATA.to_string())

#Remove all rows with NULL values

NEW_DATA=DATA.dropna(inplace=True)
NEW_DATA

#Replace Empyt cells by using fillna

In [ ]:
NEW_DATA2=DATA.fillna(130,inplace=True)
NEW_DATA2

#Replace by specifying column names

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df["Calories"].fillna(130, inplace = True)

KeyError: 'Calories'

#Replace by using mean,median and mode

In [ ]:
# BY finding mean of one column

x=df["Calories"].mean()

df['Calories'].fillna(x,inplace=true)